# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
.DS_Store
